/* fonte usada */
@import url('https://fonts.googleapis.com/css?family=Tektur');
*{
    margin: 0;
    padding: 0;
    font-family: 'Tektur',sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: url(img/escada.jpg)no-repeat;
    background-position:center;
    background-size:cover;
}
/* caixa do menu de login */
.form-box {
    position: relative;
    width: 240px;
    height: 290px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: antiquewhite;
    text-align: center;
}

h3{
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-align: center;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
